@media only screen and (max-device-width: 480px)
{
	  /* styles for mobile browsers smaller than 480px; (iPhone) */

	  .gallery {
		border:none;
		padding:none;
		margin:none;
	  }

	.test_img{
		width: 880px;
		height: 700px;
	}
	.comments{
		overflow-y: auto;
		overflow-x: none;
		text-align: left;
		width: 950px;
		height: 600px;
		background-color: white;

	  }
	  .comments p{
		padding: 0px 10px 10px 10px;
		margin: none;
		width: 800px;
		font-size:2em;
		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	  }

	  .comments input[type=text]{
		width:750px;
		height:100px;
		padding: 10px;
		border: none;
		/* font-size:3em; */
		border-bottom: solid 1px lightgrey;
	  }
	  .comments input[type=submit]{
		min-width:100px;
		background-color: transparent;
		padding: 10px;
		border: none;
		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
		font-weight: bold;
		color: skyblue;
		/* font-size:2em; */
		cursor:pointer;
	  }


	  .like {
		width:auto;
		height:100px;
		padding: 10px;
		border: none;
		color:lightblue;
		font-size:1em;
		border-bottom: solid 1px lightgrey;
	}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px){
	/* default iPad screens */
	.gallery {
		border:none;
		padding:none;
		margin:none;
	  }

	.test_img{
		width: 880px;
		height: 700px;
	}
	.comments{
		overflow-y: auto;
		overflow-x: none;
		text-align: left;
		width: 1000px;
		height: 700px;
		background-color: white;
	  }
	  .comments p{
		padding: 0px 10px 10px 10px;
		margin: none;
		width:900px;
		font-size:2em;
		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	  }

	  .comments input[type=text]{
		width:750px;
		height:100px;
		padding: 10px;
		border: none;
		font-size:2em;
		border-bottom: solid 1px lightgrey;
	  }
	  .comments input[type=submit]{
		min-width:100px;
		background-color: transparent;
		padding: 10px;
		border: none;
		font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
		font-weight: bold;
		color: skyblue;
		font-size:2em;
		cursor:pointer;
	  }
 }

.container {
    height: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(13wv 1fr);
    grid-template-rows: 80px auto 150px 200px;
     grid-template-areas:
        "h h h h h h h h h h h h h"
        "c c c c c c c c c c c c c"
        "c c c c c c c c c c c c c"
        "f f f f f f f f f f f f f";
}
html, body {
  box-sizing: border-box;
  background-color: #F8F8F8;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

a, a:hover, a:visited, a:active
{
  color: #696969;
  text-decoration:none;
}
.container div {
/* display: inline-flex;*/
  justify-content: center;
  align-items: center;

}

.h1 {text-align:center;}

.header {grid-area: h;
    background-color:#333;
    color:white;
}

.content {grid-area: c;
  display: flow-root;
  min-width: 600px;
  flex-direction: column;
  align-content: center;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid lightgrey;
  text-align: center;
}

.footer {grid-area: f;
 background-color: #ffcc5c;
  text-align: center;
  font-size: 1em;
  background-image: radial-gradient(circle at top left, rgba(249,229,78,1),  rgba(220,83,216,1));
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: grey;
  display:inline-flex;}

.title{
  font-weight: 900;
  color: lightgrey;
  font-size: 2em;}

.text{
  width: 400px;
  max-height: 350px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: grey;
  font-size: 1,5em;}

  .gallery {
    display:flex;
    flex-wrap: wrap;
    background-color:rgba(250, 250, 250, 0.7);
    padding: 10px;
    margin: 50px 20px 20px 20px;
  }
  .comments{
	overflow-y: auto;
	overflow-x: none;
    text-align: left;
    min-width: 475px;
	background-color: white;
    height:450px;
    border: none;
    /* font-size:0.9em; */
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    display: block;
  }


  .comments p{
    padding: 0px 10px 10px 10px;
    margin: none;
	min-width: 450px;
	color:black;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }

.commentaire {

}
.photo_id {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
	color: black;
	text-align: left;
}
.delete_preview{
	position: relative;
    top: 12.4px;
}

.nop{
    width: 480px;
    height:50px;
    padding: 10px;
    border: none;
    color:lightblue;
    /* font-size:1em; */
    border-bottom: solid 1px lightgrey;
  }

.like {
    min-width:480px;
    height:50px;
    padding: 10px;
    border: none;
    color:lightblue;
    /* font-size:1em; */
    border-bottom: solid 1px lightgrey;
}

  .comments input[type=text]{
    min-width:400px;
    min-height:50px;
    padding: 10px;
	border: none;
	font-size: large;
    border-bottom: solid 1px lightgrey;
  }
  .comments input[type=submit]{
    min-width:50px;
    background-color: transparent;
    padding: 10px;
    border: none;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
	color: skyblue;
	font-size: large;
    cursor:pointer;
  }


button {
	background-color: white;
    border: none;
    color: black;
}

.heart {
	background-color: red;
	display: inline-block;
	height: 20px;
	margin: 0 15px;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	width: 20px;
  }

  .heart:before,
  .heart:after {
	content: "";
	background-color: red;
	border-radius: 50%;
	height: 20px;
	position: absolute;
	width: 20px;
  }

  .heart:before {
	top: -10px;
	left: 0;
  }

  .heart:after {
	left: 10px;
	top: 0;
  }

  .heartg {
	background-color: grey;
	display: inline-block;
	height: 20px;
	margin: 0 15px;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	width: 20px;
  }

  .heartg:before,
  .heartg:after {
	content: "";
	background-color: grey;
	border-radius: 50%;
	height: 20px;
	position: absolute;
	width: 20px;
  }

  .heartg:before {
	top: -10px;
	left: 0;
  }

  .heartg:after {
	left: 10px;
	top: 0;
  }

