.container {
    height: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(13wv 1fr);
    grid-template-rows: 80px auto 150px 200px;
     grid-template-areas:
        "h h h h h h h h h h h h h"
        "c c c c c c c c c c c c c"
        "c c c c c c c c c c c c c"
        "f f f f f f f f f f f f f";
}
html, body {
  box-sizing: border-box;
  background-color: #F8F8F8;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

a, a:hover, a:visited, a:active
{
  color: #696969;
  text-decoration:none;
}
.container div {
/* display: inline-flex;*/
  justify-content: center;
  align-items: center;

}

.h1 {text-align:center;}

.header {grid-area: h;
    background-color:#333;
    color:white;
}

.content {grid-area: c;
  display: flow-root;
  min-width: 600px;
  flex-direction: column;
  align-content: center;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid lightgrey;
  text-align: center;
}

.footer {grid-area: f;
 background-color: #ffcc5c;
  text-align: center;
  font-size: 1em;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: grey;
  display:inline-flex;}

.title{
  font-weight: 900;
  color: lightgrey;
  font-size: 2em;}

.text{
  width: 400px;
  /* overflow: auto; */
  max-height: 350px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: grey;
  font-size: 1,5em;}

  .gallery {
    display:flex;
    flex-wrap: wrap;
    background-color:rgba(204, 204, 168, 0.5);
    padding: 10px;
    margin: 50px 20px 20px 20px;

  }
  .comments{
    overflow-y:auto;
    text-align: left;
    width: 500px;
    min-width: 500px;
    height: 400px;
    background-color: white;

  }

  .comments p{
    padding: 0px 10px 10px 10px;
    margin: none;
    font-size:1em;
    /* font-weight: bold; */
    /* color: grey; */
    /* border-bottom: solid 1px lightgrey; */
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  }

  .comments{
    width:400px;
    height:400px;
    /* font-weight: bold; */
    border: none;
    font-size:0.9em;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    display: block;
  }
  .nop{
    width: 480px;
    height:50px;
    padding: 10px;
    border: none;
    color:lightblue;
    font-size:1em;
    border-bottom: solid 1px lightgrey;
  }

.like {
    width:480px;
    height:50px;
    padding: 10px;
    border: none;
    color:lightblue;
    font-size:1em;
    border-bottom: solid 1px lightgrey;
}

  .comments input[type=text]{
    width:400px;
    height:50px;
    padding: 10px;
    border: none;
    font-size:0.8em;
    border-bottom: solid 1px lightgrey;

  }
  .comments input[type=submit]{
    width:50px;
    background-color: transparent;
    font-size:1em;
    /* height:70px; */
    padding: 10px;
    border: none;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    color: skyblue;
    cursor:pointer;
  }

button {
	background-color: white;
    border: none;
    color: black;
}

.heart {
	background-color: red;
	display: inline-block;
	height: 20px;
	margin: 0 15px;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	width: 20px;
  }

  .heart:before,
  .heart:after {
	content: "";
	background-color: red;
	border-radius: 50%;
	height: 20px;
	position: absolute;
	width: 20px;
  }

  .heart:before {
	top: -10px;
	left: 0;
  }

  .heart:after {
	left: 10px;
	top: 0;
  }

  .heartg {
	background-color: grey;
	display: inline-block;
	height: 20px;
	margin: 0 15px;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	width: 20px;
  }

  .heartg:before,
  .heartg:after {
	content: "";
	background-color: grey;
	border-radius: 50%;
	height: 20px;
	position: absolute;
	width: 20px;
  }

  .heartg:before {
	top: -10px;
	left: 0;
  }

  .heartg:after {
	left: 10px;
	top: 0;
  }

