.container {
    height: 100%;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 80px auto 150px 200px;
     grid-template-areas:
        "h h h h h h h h h h h h h"
        "c c c c c c c c c m m m m"
        "i i i i i i i i i m m m m"
        "f f f f f f f f f f f f f";
}
html, body {
  box-sizing: border-box;
  background-color: #F8F8F8;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

a, a:hover, a:visited, a:active
{
  color: #696969;
  text-decoration:none;
}
.container div {
/* display: inline-flex;*/
  justify-content: center;
  align-items: center;
}

.h1 {text-align:center;}

.header {grid-area: h;
  background-color:#333;
  color:white;
  /* font-size:2em;  */
  /* font-weight: 900;  */
}

.menu {grid-area: m;
  min-width: 100px;
  flex-direction: column ;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid lightgrey;
  text-align: center;
}

.content {grid-area: c;
/*  display: flex;*/
  min-width: 600px;
  flex-direction: column ;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid lightgrey;
  text-align: center;
}

  .content orga{
    display: flex;
    flex-wrap: wrap;
    }

    .orga vidpic {
      padding: 20px;
      margin: 20px;
    }

  .p{
    height = 20px;
    width = 350px;
    margin = 5px;
  }
.content input[type=file] {
  width: 200px;
  background-color: rgba(255,255,255,0.2);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:50px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.img_stickers {grid-area: i;
  min-width: 600px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid lightgrey;
  text-align: center;
  font-size: 1,5em;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: grey;
    display:inline-flex;
}

.footer {grid-area: f;
 background-color: #ffcc5c;
  text-align: center;
  font-size: 1em;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: grey;
  display:inline-flex;}

.title{
  font-weight: 900;
  color: lightgrey;
  font-size: 2em;}

.text{
  width: 400px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: bold;
  color: grey;
  font-size: 1,5em;}

.txt{
  width: 400px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: grey;
  font-size: 1,5em;}

.button {
  width: 200px;
  background-color: rgba(255,255,255,0.2);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:50px;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.stickers {
   border: none;
  background-color:transparent;
}

.img_stickers img{

  width:70px;
  height:70px;
  padding: 40px;}

.test{
  display:inline-flex;
}

.fuckCss {
	justify-content: center;
	display:none;

}
.fuckCss input[type=file]{
	width: min-content;
	padding: 0px;
	margin: 0px;
	/* visibility:hidden; */
	color:pink;
	display: none;
	border: none;
	box-sizing: none;}

.label-file {
	cursor: pointer;
	color: #00b1ca;
	font-weight: bold;
}
.label-file:hover {
	color: #25a5c4;
}

.input-file {
	display: none;
}

.btn{
	border: none;
}

.btn img {
	color: pink;
}