body {
	margin: 0;
}

h1 {
	color: #FFF;
	margin: 0;
}

.home {
	height: 100vh;
	width: 100%;
	display: flex;
	overflow: hidden;
	position: relative;
}
	home.after {
	  content: '';
	  background: rgba(0, 0, 0, 0.6);
	  position: absolute;
	  top: 0; right: 0; bottom: 0; left: 0;
	}
	home.home__video {
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  top: 0; left: 0;
	}
	home.home__content {
	  margin: auto;
	  position: relative;
	  z-index: 1;
	}
/*


  @media (min-aspect-ratio: 16/9) {
	.home__video {
	  height: 300%;
	  top: -100%;
	}
  }
  @media (max-aspect-ratio: 16/9) {
	.home__video {
	  width: 300%;
	  left: -100%;
	}
  } */